################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Core/SatvaPartyRegister.Dependency/obj
/Core/SatvaPartyRegister.Dependency/bin/Debug/netcoreapp2.1
/Core/SatvaPartyRegister.Domain/obj
/Core/SatvaPartyRegister.Domain/bin/Debug/netcoreapp2.1
/Core/SatvaPartyRegister.Model/obj
/Core/SatvaPartyRegister.Model/bin/Debug/netcoreapp2.1
/Core/SatvaPartyRegister.Utility/bin/Debug/netcoreapp2.1
/Core/SatvaPartyRegister.Utility/obj
/Data/SatvaPartyRegister.Data.Contract/bin/Debug/netcoreapp2.1
/Data/SatvaPartyRegister.Data.Contract/obj
/Data/SatvaPartyRegister.Data.Implementation/bin/Debug/netcoreapp2.1
/Data/SatvaPartyRegister.Data.Implementation/obj
/Presentation/SatvaPartyRegister.Api.Gateway/bin/Debug/netcoreapp2.1
/Presentation/SatvaPartyRegister.Api.Gateway/obj
/Presentation/SatvaPartyRegister.Presentation.Web/bin/Debug/netcoreapp2.1
/Presentation/SatvaPartyRegister.Presentation.Web/obj
/Repository/SatvaPartyRegister.Repository.Contract/bin/Debug/netcoreapp2.1
/Repository/SatvaPartyRegister.Repository.Contract/obj
/Repository/SatvaPartyRegister.Repository.Implementation/bin/Debug/netcoreapp2.1
/Repository/SatvaPartyRegister.Repository.Implementation/obj
/Service/SatvaPartyRegister.Service.Contract/bin/Debug/netcoreapp2.1
/Service/SatvaPartyRegister.Service.Contract/obj
/Service/SatvaPartyRegister.Service.Implementation/bin/Debug/netcoreapp2.1
/Service/SatvaPartyRegister.Service.Implementation/obj
/Solution/.vs
